<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List of Owners</title>
</head>
<body>
    <h2 th:text="'List of Owners'">List of Owners</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th >ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>city</th>
                <th>Telephone</th>
                <th>Pets</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="owner : ${owners}">
                <td th:text="${owner?.id}">1</td>
                <td th:text="${owner?.firstName}">A</td>
                <td th:text="${owner?.lastName}">B</td>
                <td th:text="${owner?.address}">B</td>
                <td th:text="${owner?.city}">B</td>
                <td th:text="${owner?.telephone}">B</td>
                <td th:text="${owner?.pets}">B</td>
            </tr>
        </tbody>
    </table>
</body>
</html>